.testimonialsSectionContainer {
    padding: 90px 0;
    text-align: center;
    background-color: white;
}

.testimonialsTitle {
    font-size: 2.5rem;
    color: #666;
    margin-bottom: 40px;
}

.primaryColor {
    color: var(--primary-color);
}

.testimonialCard {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 50px 50px 40px;
    max-width: 390px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonialCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.avatarWrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.testimonialName {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
}

.testimonialCompany {
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    margin-bottom: 25px;
}

.testimonialText {
    font-size: 1.1rem;
    color: black;
    font-weight: 500;
    line-height: 1.6;
}

.carouselArrow {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    font-size: 1.6rem;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.carouselArrow:hover {
    background-color: #006666;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.mobileCarouselWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.testimonialsGrid,
.desktopArrowsContainer {
    display: none;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 769px) {

    .mobileCarouselWrapper {
        display: none;
    }

    .testimonialsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        max-width: 1300px;
        margin: 30px auto;
    }

    .desktopArrowsContainer {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {

    .testimonialsTitle {
        font-size: 2rem;
    }

    .mobileCarouselWrapper {
        gap: 15px;
    }

    .carouselArrow {
        width: 35px;
        height: 35px;
        font-size: 1.3rem;
    }

    .testimonialCard {
        max-width: 90%;
    }

    .testimonialName {
        font-size: 1.2rem;
    }

    .testimonialText {
        font-size: 1rem;
    }

    .mobileArrowsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {

    .testimonialsSectionContainer {
        padding: 80px 0 110px 0;
        margin-top: -1px;
    }

    .testimonialsTitle {
        font-size: 1.8rem;
    }

    .mobileCarouselWrapper {
        flex-direction: column;
        gap: 10px;
    }

    .carouselArrow {
        width: 55px;
        height: 55px;
        font-size: 1.9rem;
    }

    .testimonialCard {
        max-width: 75%;
        padding: 35px;
    }

    .mobileArrowsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
}